/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* UTILITIES */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    width: auto;
    max-height: 100%;
}

.text-danger {
    color: #FF2D20;
}

.text-success {
    color: #00FF00;
}

.text-white {
    color: #FFf;
}

/* GENERAL */
body {
    background-color: #1C1C1C;
    text-align: center;
}

h1 {
    color: #fff;
}

ul {
    list-style: none;

    a {
        &:visited {
            color: #8b8b8b;
        }

        &:hover {
            text-decoration: underline;
            color: #FF2D20;
        }


    }
}

a {
    text-decoration: none;
    color: #fff;
}

header,
footer {
    padding: 1rem;
    text-align: center;
}

header {
    h1 {
        color: #FF2D20;

        span {
            color: #fff;
        }
    }
}

/* LAYOUT */

/* Layout */
.d-flex {
    display: flex;
}

.d-flex.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row.row-cols-1>* {
    flex: 1 0 100%;
}

.row.row-cols-2>* {
    flex: 1 0 50%;
}

.row.row-cols-3>* {
    flex: 1 0 calc(100% / 3);
}

.row.row-cols-4>* {
    flex: 1 0 25%;
}

.row.row-cols-5>* {
    flex: 1 0 20%;
}

.row.row-cols-6>* {
    flex: 1 0 calc(100% / 6);
}

.row.g-1 {
    margin: 0 -10px;
}

.row.g-1 .col {
    padding: 0 10px;
}

.row.g-2 {
    margin: 0 -15px;
}

.row.g-2 .col {
    padding: 0 15px;
}

.row.g-3 {
    margin: 0 -20px;
}

.row.g-3 .col {
    padding: 0 20px;
}

.row.g-4 {
    margin: 0 -25px;
}

.row.g-4 .col {
    padding: 0 25px;
}

.row.g-5 {
    margin: 0 -30px;
}

.row.g-5 .col {
    padding: 0 30px;
}